<br/>
<div class="row panel">
  <%= link_to "Back to Index", root_path, class: "closet-back button info tiny" %>

  <div class="text-center closet-header">
    <h3>Your Closets</h3>
    <div class="closet-buttons">
      <%= link_to "Create a new closet", new_closet_path(modal: true), remote: true, class: "button tiny" %>
    </div>
  </div>
  <hr/>

	<div class="medium-12 small-centered columns">

        <% @closets.each do |closet| %>
          <%= link_to(closet_path(closet)) do %>
            <div class="medium-5 closet">
              <div class="closet-description">
                <span><%= closet.title %></span>
                -
                <span><%= pluralize(closet.items.size, "item") %></span>
              </div>
              <br/>

              <% closet.items[0,3].each do |item| %>
                  <%= image_tag(item.images.first.source, size:"114x144", class:"closet-image") %>
              <% end %>

            </div>
          <% end %>
        <% end %>

	</div>
</div>

<div id="new-closet-modal" class="reveal-modal small" data-reveal></div>
