<h2>Create Closet</h2>

<%= form_for @closet, html: {class: "custom"}  do |f| %>
	<%= f.label "Closet Name" %>
	<%= f.text_field :title %>

	<%= f.label "Summary" %>
	<%= f.text_area :summary %>

	<%= f.submit "Create Closet", class: "button" %>
<% end %>
