<div class="row">
	<div class="small-12 columns text-center">
		<h2><%= @closet.title %></h2>
	</div>

	<div class="small-12 columns text-center">
		<h3><%= @closet.summary %></h3>
	</div>

	<div class="small-12 columns text-center panel">
		<div><p><%= @closet.items.size %> Items</p></div>
		<%= link_to "Edit this Closet", edit_closet_path, class: 'button tiny' %>
	</div>

</div>

<div class="row">
	<div class="small-12 columns text-center">
		<% @closet.items.each do |item| %>

			<div class="item">
				<div class="item-picture">
					<%= link_to item_path(item) do %>
                      <%=image_tag item.images[0].source %>
                    <% end %>
				</div>

				<%= link_to item_path(item) do %>
					<div class='item-info'>
						<div class='item-designer'><%= truncate(item.designer, :length => 30) %></div>
						<div class='item-name'><%= truncate(item.product_name, :length => 50) %></div>
						<div class='item-price'><%= humanized_money_with_symbol item.price %></div>
						<%= link_to "Delete item", closets_item_path(:closet_id => @closet, :item_id => item.id), method: :delete, confirm: "Are you sure?" %>
					</div>
				<% end %>
			</div>

		<% end %>
	</div>
</div>