<!-- This template for the registrations#edit action is for -->
<!-- editing the User model, not the password (which is users#edit -->

<div class="row">
  <div class="small-5 small-centered columns">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username, label: "new username", autofocus: true %>
      <%= f.input :email, label: "new email" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <p><%= link_to "Edit my password", edit_user_path %></p>
  </div>
</div>