<h4>Change Password</h4>
<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
    <div class="row collapse">
      <div class="large-4 columns">
        <span class="prefix">Current Password</span>
      </div>
      <div class="large-8 columns">
        <%= f.password_field :current_password %>
      </div>
    </div>

    <div class="row collapse">
      <div class="large-4 columns">
        <span class="prefix">New Password</span>
      </div>
      <div class="large-8 columns">
        <%= f.password_field :password, :autocomplete => "off"  %>
      </div>
    </div>

    <div class="row collapse">
      <div class="large-4 columns">
        <span class="prefix">Confirm new password</span>
      </div>
      <div class="large-8 columns">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="action_container">
      <%= f.submit "Change Password", class: "button small" %>
    </div>
<% end %>


