    <div class="register-header">
      <h2>Sign up</h2>
    </div>

    <!-- facebook registration button -->
    <div class="center-facebook-button">
      <a href="/users/auth/facebook" class="facebook-login-button" id="facebook-registration-button">
        <span>Signup with Facebook</span>
      </a>
    </div>

    <!-- or divider -->
    <div>
      <span class="or-divider"><span>or</span><span>
    </div>

    <!-- registration form -->
    <%= simple_form_for(user, url: user_registration_path) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :username, required: true, autofocus: true %>
          <%= f.input :email, required: true %>
          <% if f.object.password_required? %>
              <%= f.input :password, required: true %>
              <%= f.input :password_confirmation, required: true %>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", :class=> "right" %>
        </div>
    <% end %>