
<div class="main-section">
	<!-- items -->
	<div class="row">
		<div class="medium-12 small-centered columns text-center">
			<% @items.each_with_index do |item, index| %>

				<div class="medium-3 item">
                    <div id="item-<%= index %>">
                        <%= link_to item_path(item), {
                                 remote: true,
                                 "data-reveal-id" => "show-modal",
                                 "data-target" => "#modal-window"
                        } do %>
                            <div class="item-picture">
                                <%= image_tag(item.images.first.source, size:"280x400") %>
                                <% if current_user %>
                                    <!-- ADD LINK TO CLOSET MODAL -->
                                    <a href="#" data-reveal-id="closet-modal">
                                      <div class="special-span closet-button">+ add to closet</div>
                                    </a>
                                <% else %>
                                    <a href="#" data-reveal-id="closet-modal">
                                      <div class="special-span closet-button">+ add to closet</div>
                                    </a>
                                <% end %>
                            </div>
                        <% end %>

                        <%= link_to item_path(item) do %>
                            <div class='item-info'>
                                <div class='item-designer'><%= truncate(item.designer, :length => 30) %></div>
                                <div class='item-name'><%= truncate(item.product_name, :length => 50) %></div>
                                <div class='item-price'><%= humanized_money_with_symbol item.price %></div>
                            </div>
                        <% end %>
                    </div>
				</div>

                <%= render 'layouts/closets_item_create', { item: item } %>
			<% end %>

			<!-- paginate row -->
			<div class="row">
				<div class="placeholder">
					<%= paginate @items %>
				</div>
			</div>

		</div>
	</div>
</div>

<div id="show-modal" class="reveal-modal" data-reveal></div>