<div class="main-section">

	<!-- search -->
	<div class="row">
		<div class="small-12 small-centered columns">

			<div class="text-center">

				<%= form_tag items_path, class: "nothing", method: :get do %>

					<%= select_tag(:category1, options_for_select([["Category", ""]] + Item.select(:category1).distinct.order(:category1).map {|i| [i.category1, i.category1]}), class: "search-selection"  ) %>

					<%= select_tag(:designer, options_for_select([["Designer", ""]] + Item.select(:designer).distinct.order(:designer).map {|i| [i.designer, i.designer]}), class: "search-selection"  ) %>


					<%= text_field_tag 'min_price', nil, placeholder: 'min price', class: ""  %>

					<%= text_field_tag 'max_price', nil, placeholder: 'max price', class: ""  %>

					<%= submit_tag "Search", class: "search-button" %>
				<% end %>

			</div>
		</div>
	</div>


	<!-- items -->
	<div class="row">
		<div class="small-12 small-centered columns text-center">
			<% @items.each_with_index do |item, index| %>
				<div class="item">
					<div class="item-picture">
						<%= link_to item_path(item) do %><img src="<%=item.image_source%>" /><% end %>
	  				<span class="overlaytext">
	    			<%= truncate(item.product_name, :length => 30) %>
	    			<span class='spacer'></span><br><br><br><span class='spacer'></span>
	    			<%= truncate(item.designer, :length => 30) %>
	    		</span>
					</div>

					<div class="item-text">
						<ul class="button-group">
							<li><a href="<%= item.product_link %>" class="tiny button secondary">Buy</a></li>
							<li><a href="#" class="tiny button secondary">Like</a></li>
							<li><a href="#" class="tiny button secondary" data-reveal-id="closetModal<%= index %>">Save</a></li>
						</ul>
						<p>

						</p>
					</div>

					<!-- save button, closet modal -->
					<% if current_user %>

						<%= form_for @ci do |f| %>

							<%= f.select(:closet_id, options_for_select(current_user.closets.collect { |c| [c.title, c.id]})) %>

							<%= f.hidden_field :item_id, :value => item.id %>

							<%= submit_tag "SAVE ITEM TO CLOSET", class: "search-button" %>

						<% end %>

			 		<% end %>
			 		<!-- end save button, closet modal -->
				</div>
			<% end %>

			<!-- paginate row -->
			<div class="row">
				<div class="placeholder">
					<p><%= will_paginate @items %></p>
				</div>
			</div>
		</div>
	</div>
</div>