<div class="main-section">
	<div class="row">
		<div class="small-5 columns">
			<!--- main image -->
			<img src="<%= @item.image_source_array[0] %>">
		</div>

		<div class="small-2 columns">
			<!--- image thumbnails -->
			<% @item.image_source_array.each do |i| %>
				  <img class="th" src="<%= i %>"/>
			<% end %>
		</div>

		<div class="small-5 columns">
			<ul>
				<li><%= @item.designer %></li>
				<li><%= @item.product_name %></li>
				<li><%= humanized_money_with_symbol @item.price %></li>
				<li><%= link_to @item.store_name, @item.product_link %></li>
				<li><%= @item.description %></li>
			</ul>
		</div>

	</div>
</div>