<div id="closet-modal" class="reveal-modal small" data-reveal>
    <% if current_user %>
          <h2>Save item to closet.</h2>
          <%= form_for @closets_item do |f| %>
              <%= f.select(:closet_id, options_for_select(current_user.closets.collect { |c| [c.title, c.id]})) %>
              <%= f.hidden_field :item_id, :value => item.id %>
              <%= submit_tag "SAVE", class: "search-button right" %>
          <% end %>


      <!--<% current_user.closets.each do |closet| %>-->

          <!--<%= form_for closet, remote: true, class:"button" do |f| %>-->
              <!--<span><%= closet.summary %></span>-->
              <!--<span><%= closet.items.size %></span>-->

              <!--<% closet.items.each do |item| %>-->
                  <!--<% item.images.each do |image| %>-->
                    <!--<span><%= image_tag(image.source, size:"56x80") %><span>-->
                  <!--<% end %>-->
              <!--<% end %>-->
              <!--<%= f.hidden_field :item_id, :value => item.id %>-->
              <!--<%= submit_tag "SAVE", class: "search-button right" %>-->
          <!--<% end %>-->




      <!--<% end %>-->




    <% else %>
        <!-- Guest save item to closet modal -->
        <h2>Shop all of Showspace</h2>
        <%= link_to "Join Now", new_user_registration_path, class: "button expand", id: "padding-join-now-btn-modal" %>
        Already a member? <%= link_to('Sign in.', new_user_session_path, class: 'bold-black-link') %>

    <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>