<!-- header -->

<!-- top bar -->
<div class="fixed">
	<nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="/">Showspace</a></h1>
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

    <!-- Right Nav Section -->
    	<% if user_signed_in? %>
			  <section class="top-bar-section">
			    <ul class="right">
			    	<li class="divider"></li>
			      <li class="has-dropdown">
			      	<%= link_to('+ Add Closet', new_closet_path) %>
			        <ul class="dropdown">
			          <li><%= link_to "My Closets", closets_path %></li>
			          <li><%= link_to "Profile", profile_path %></li>
			          <li><a href="#">About</a></li>
			          <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
			        </ul>
			      </li>
			    </ul>
			  </section>
    	<% else %>
			  <section class="top-bar-section">
			    <ul class="right">
			    	<li class="divider"></li>
			    	<li class="active"><%= link_to('Join now', new_user_registration_path) %></li>
			    	<li class="divider"></li>
			    	<li><a href="#">About</a></li>
			    	<li class="divider"></li>
		    		<li><a href="#" data-reveal-id="login-modal">Login</a></li>
			    </ul>
			  </section>
    	<% end %>
	</nav>
</div>

<!-- login modal -->
<% if !user_signed_in? %>
	<div id="login-modal" class="reveal-modal" data-reveal>
	  <h2>Welcome back</h2>

		<div class="center-facebook-button">
			<a href="/users/auth/facebook" class="facebook-login-button">
				<span>Login with Facebook</span>
			</a>
		</div>

		<div>
			<span class="or-divider"><span>or</span><span>
		</div>


		<%= simple_form_for :user, { url: user_session_path } do |f| %>

			<%= f.error_notification %>
		  <%= f.input :login, required: true, autofocus: true %>
		  <%= f.input :password, required: true %>

			<%= f.submit "Login", :class=> "button", :id => 'login_button' %>

		<% end %>


	  <a class="close-reveal-modal">&#215;</a>
	</div>
<% end %>